fastapi
uvicorn[standard]
fastapi
uvicorn
python-multipart
pydantic
pandas
numpy
openpyxl
python-dotenv
websockets
sqlalchemy
requests
networkx
scikit-learn
textblob
statsmodels
google-generativeai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
openai
google-cloud-aiplatform
google-auth